# docker files
.trivy

# external inputs
fd_bank
LITHO1.0.nc
tectonicplates

# python files
__pycache__
.coverage
.mypy_cache
.pytest_cache
.venv
coverage.xml
dist
htmlcov

# fortran files
run_modelling
run_forward
green_tele
get_strong_motion
gf_static_f95
green_bank_openmp_f95
